.section{
    width: 60%;
    margin: 0 auto;

    padding: 3rem 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #00031a;
    
    margin-top: -12rem;
    margin-bottom: 3rem;

    font-size: 14px;
    font-weight: 400;
    text-align: center;

    color: var(--color-withe);
    background-color: var(--color-blueAcess);
}